:root {
    color-scheme: light dark;
}

body {
    width: 180px;
    padding: 12px;

    font-family: system-ui;
}

body *:first-child {
    margin-top: 0;
}

body *:last-child {
    margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
